<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head')%>
    <title><%= title%></title>
</head>
<body>
    <%- include('partials/navigation')%>
    <main class="container vh-100 pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1 d-flex justify-content-center">About me</h1>
            <p class="d-flex justify-content-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Modi quae ipsa, a, cupiditate culpa illum qui quibusdam, 
                mollitia fuga eaque voluptatem! Atque dolorum inventore eaque. 
                Incidunt tempora quam architecto laborum. Lorem ipsum dolor sit 
                amet consectetur adipisicing elit. Odit ullam ex aliquid, 
                ipsa laudantium sit eligendi sapiente a optio distinctio corporis 
                itaque perferendis, aspernatur praesentium quibusdam, harum earum doloremque molestias.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Nesciunt expedita vero pariatur repellat libero consequuntur molestias 
            modi debitis possimus consectetur. Non voluptate reprehenderit at minus 
            ipsa assumenda, quos quaerat cupiditate.
            Laboriosam, quo. Numquam amet debitis, suscipit blanditiis error, 
            dolorem voluptas excepturi magnam, doloribus consequuntur nisi vel atque. 
            Placeat iure ipsa minima nihil vero culpa, nostrum quasi facere amet labore odio!</p>
        </section>
    </main>
    <%- include('partials/footer')%>
</body>
</html>