<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head')%>
    <title><%= title%></title>
</head>
<body>

    <%- include('partials/navigation')%>

    <!----  Main Content -->
    <header class="container vh-100 d-flex justify-content-center align-items-center ">
        <div class="d-flex flex-column justify-content-center align-items-center pt-2">
            <img src="/img/logo512.png" alt="logo" class="w-20">
            <h1 class="display-1 my-5 text-uppercase fw-bold">Node.JS</h1>
            <a href="/about" class="btn btn-primary w-25">About</a>
        </div>
        
    </header>

    <%- include('partials/footer')%>

</body>
</html>